<style type='text/css'>

.md-toc { min-height: 3.58rem; position: relative; font-size: 0.9rem; border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; }
.md-toc-content { position: relative; margin-left: 0px; }
.md-toc-content::after, .md-toc::after { display: none; }
.md-toc-item { display: block; color: rgb(65, 131, 196); }
.md-toc-item a { text-decoration: none; }
.md-toc-inner:hover { text-decoration: underline; }
.md-toc-inner { display: inline-block; cursor: pointer; }
.md-toc-h1 .md-toc-inner { margin-left: 0px; font-weight: 700; }
.md-toc-h2 .md-toc-inner { margin-left: 2em; }
.md-toc-h3 .md-toc-inner { margin-left: 4em; }
.md-toc-h4 .md-toc-inner { margin-left: 6em; }
.md-toc-h5 .md-toc-inner { margin-left: 8em; }
.md-toc-h6 .md-toc-inner { margin-left: 10em; }

html {
	font-size: 19px;
}

html, body {
	margin: auto;
	background: #fefefe;
}
body {
	font-family: "Vollkorn", Palatino, Times;
	color: #333;
	line-height: 1.4;
	text-align: justify;
}

#write {
	max-width: 960px;
	margin: 0 auto;
	margin-bottom: 2em;
	line-height: 1.53;
	padding-top: 40px;
}

@media only screen and (min-width: 1400px) {
	#write {
		max-width: 1100px;
	}
}

#write>h1:first-child,
h1 {
	margin-top: 1.6em;
	font-weight: normal;
}

h1 {
	font-size:3em;
}

h2 {
	margin-top:2em;
	font-weight: normal;
}

h3 {
	font-weight: normal;
	margin-top: 3em;
}

h1,
h2,
h3{
	text-align: center;
}

h2:after{
	border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    display: block;
    margin: 0 auto;
    height: 1px;
}

h4 { font-size: 1.4rem; font-weight:bold;}
h5 { font-size: 1.2rem; font-weight:bold;}

h1+h2, h2+h3 {
	margin-top: 0.83em;
}

p,
.mathjax-block {
	margin-top: 0;
	-webkit-hypens: auto;
	-moz-hypens: auto;
	hyphens: auto;
}
ul {
	list-style: square;
	padding-left: 1.2em;
}
ol {
	padding-left: 1.2em;
}
blockquote {
	margin-left: 1em;
	padding-left: 1em;
	border-left: 1px solid #ddd;
}
code,
pre {
	font-family: "Consolas", "Menlo", "Monaco", monospace, serif;
	font-size: .9em;
	background: white;
}

a {
	color: #2484c1;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a img {
	border: none;
}
h1 a,
h1 a:hover {
	color: #333;
	text-decoration: none;
}
table {
	margin-bottom: 1.333333rem
}
table th,
table td {
	padding: 8px;
	line-height: 1.333333rem;
	vertical-align: top;
	border-top: 1px solid #ddd
}
table th {
	font-weight: bold
}
table thead th {
	vertical-align: bottom
}
table caption+thead tr:first-child th,
table caption+thead tr:first-child td,
table colgroup+thead tr:first-child th,
table colgroup+thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
	border-top: 0
}
table tbody+tbody {
	border-top: 2px solid #ddd
}

.task-list{
	padding:0;
}
.md-tag {
	color: inherit;
	font: inherit;
}
#write>h5.md-focus:before {
	top: 2px;
}

.md-toc {
	margin-top: 40px;
}

.md-toc-content {
	padding: 0;
}


 :root {--mermaid-font-zoom:1em ;}  @media print { @page {margin: 0 0 0 0;} body.typora-export {padding-left: 0; padding-right: 0;} #write {padding:0;}}
</style>
<div class='typora-export'>
    <div class='typora-export-content'>
        <div id='write'  class=''>
            <h1 id='このサイトについて'><span>このサイトについて</span></h1>
            <p><span>目次</span></p>
            <div class='md-toc' mdtype='toc'>
                <p class="md-toc-content" role="list">
                    <span role="listitem" class="md-toc-item md-toc-h1" data-ref="n24"><a class="md-toc-inner" style="" href="#このサイトについて">このサイトについて</a></span>
                    <span role="listitem" class="md-toc-item md-toc-h2" data-ref="n114"><a class="md-toc-inner" style="" href="#説明概要">説明、概要</a></span>
                    <span role="listitem" class="md-toc-item md-toc-h2" data-ref="n26"><a class="md-toc-inner" style="" href="#作成者">作成者</a></span>
                    <span role="listitem" class="md-toc-item md-toc-h2" data-ref="n163"><a class="md-toc-inner" style="" href="#使用した技術">使用した技術</a></span>
                    <span role="listitem" class="md-toc-item md-toc-h4" data-ref="n29"><a class="md-toc-inner" style="" href="#利用したプログラミング言語">利用したプログラミング言語</a></span>
                    <span role="listitem" class="md-toc-item md-toc-h4" data-ref="n36"><a class="md-toc-inner" style="" href="#利用したフレームワーク・ライブラリ">利用したフレームワーク・ライブラリ</a></span>
                    <span role="listitem" class="md-toc-item md-toc-h4" data-ref="n48"><a class="md-toc-inner" style="" href="#利用したツール">利用したツール</a></span>
                    <span role="listitem" class="md-toc-item md-toc-h2" data-ref="n56"><a class="md-toc-inner" style="" href="#使い方">使い方</a></span>
                    <span role="listitem" class="md-toc-item md-toc-h4" data-ref="n57"><a class="md-toc-inner" style="" href="#動作環境">動作環境</a></span>
                    <span role="listitem" class="md-toc-item md-toc-h4" data-ref="n178"><a class="md-toc-inner" style="" href="#基本的な使い方">基本的な使い方</a></span>
                    <span role="listitem" class="md-toc-item md-toc-h5" data-ref="n64"><a class="md-toc-inner" style="" href="#ユーザー登録ログイン">ユーザー登録、ログイン</a></span>
                    <span role="listitem" class="md-toc-item md-toc-h5" data-ref="n68"><a class="md-toc-inner" style="" href="#予定の登録">予定の登録</a></span>
                    <span role="listitem" class="md-toc-item md-toc-h5" data-ref="n71"><a class="md-toc-inner" style="" href="#予定の編集削除">予定の編集、削除</a></span>
                    <span role="listitem" class="md-toc-item md-toc-h5" data-ref="n75"><a class="md-toc-inner" style="" href="#グループの作成参加">グループの作成、参加</a></span>
                    <span role="listitem" class="md-toc-item md-toc-h5" data-ref="n78"><a class="md-toc-inner" style="" href="#グループイベントの作成削除編集">グループイベントの作成、削除、編集</a></span>
                    <span role="listitem" class="md-toc-item md-toc-h3" data-ref="n82"><a class="md-toc-inner" style="" href="#デモ">デモ</a></span>
                    <span role="listitem" class="md-toc-item md-toc-h2" data-ref="n84"><a class="md-toc-inner" style="" href="#注意点">注意点</a></span>
                    <span role="listitem" class="md-toc-item md-toc-h2" data-ref="n96"><a class="md-toc-inner" style="" href="#本サイトのポイント">本サイトのポイント</a></span>
                    <span role="listitem" class="md-toc-item md-toc-h4" data-ref="n97"><a class="md-toc-inner" style="" href="#セキュリティ攻撃対策">セキュリティ、攻撃対策</a></span>
                    <span role="listitem" class="md-toc-item md-toc-h4" data-ref="n105"><a class="md-toc-inner" style="" href="#機能">機能</a></span>
                </p>
            </div>
            <p>&nbsp;</p>
            <h2 id='説明概要'><span>説明、概要</span></h2>
            <ul>
                <li><span>作者がRuby on Railsに関する技術力の向上を目的として作成したWebアプリケーションです。</span></li>
                <li><span>グループや個人の予定を作成、管理することができます。</span></li>
            </ul>
            <h2 id='作成者'><span>作成者</span></h2>
            <figure><table><thead><tr><th><span>作成者</span></th><th><span>こん</span></th></tr></thead><tbody><tr><td><span>GitHub</span></td><td><a href='https://github.com/YUTA-KON/clendar_app' target='_blank' class='url'>https://github.com/YUTA-KON/clendar_app</a></td></tr></tbody></table></figure>
            <p>&nbsp;</p>
            <h2 id='使用した技術'><span>使用した技術</span></h2>
            <h4 id='利用したプログラミング言語'><span>利用したプログラミング言語</span></h4>
            <ul>
                <li><span>Ruby</span></li>
                <li><span>JavaScript</span></li>
                <li><span>HTML, CSS(SCSS)</span></li>
            </ul>
            <h4 id='利用したフレームワーク・ライブラリ'><span>利用したフレームワーク・ライブラリ</span></h4>
            <ul>
                <li><span>Ruby on Rails</span></li>
                <li><span>refile</span></li>
                <li><span>devise</span></li>
                <li><span>fullcalendar</span></li>
                <li><span>Datetimepicker</span></li>
            </ul>
            <h4 id='利用したツール'><span>利用したツール</span></h4>
            <ul>
                <li><span>Visual Studio Code</span></li>
                <li><span>Amazon EC2</span></li>
                <li><span>Amazon RDS</span></li>
                <li><span>Amazon Route53</span></li>
                <li><span>NGINX</span></li>
                <li><span>Puma</span></li>
                <li><span>GitHub</span></li>
            </ul>
            <h2 id='使い方'><span>使い方</span></h2>
            <h4 id='動作環境'><span>動作環境</span></h4>
            <ul>
                <li><span>Mac、PC、タブレットまたはスマートフォン</span></li>
                <li><span>(Mac、PCを推奨)</span></li>
                <li><span>Webサイトを閲覧できるブラウザ(開発時はChromeを想定)</span></li>
            </ul>
            <p>&nbsp;</p>
            <h4 id='基本的な使い方'><span>基本的な使い方</span></h4>
            <h5 id='ユーザー登録ログイン'><span>ユーザー登録、ログイン</span></h5>
            <p><span>トップページ、もしくはヘッダー内メニューよりユーザー登録画面へ進めます。</span></p>
            <p><span>その後、画面に従ってユーザー登録を進めてください。</span></p>
            <p><span>メールアドレスは特に使用目的がないので、流出等が気になる方は捨てアドレスを使用して下さい。</span></p>
            <p>&nbsp;</p>
            <h5 id='予定の登録'><span>予定の登録</span></h5>
            <p><span>予定はマイページ内「予定の追加」ボタンから行えます。</span></p>
            <p><span>予定登録ページ内の右側(もしくは下側)のフォームは毎週繰り返すイベントです。</span></p>
            <p><span>カレンダー内をドラッグ&ドロップで新規作成することができます。(スマートフォンの場合は長押し後にドラッグ&ドロップ)</span></p>
            <p>&nbsp;</p>
            <h5 id='予定の編集削除'><span>予定の編集、削除</span></h5>
            <p><span>カレンダーから目的の予定をクリックすることで詳細画面に遷移します。</span></p>
            <p><span>詳細画面から予定の編集、削除を行うことができます。</span></p>
            <p><span>また、目的のイベントをドラッグ&ドロップすることで日時の変更をすることができます。(スマートフォンの場合は長押し後にドラッグ&ドロップ)</span></p>
            <p><span>なお他人の予定の編集、削除はできません。</span></p>
            <p>&nbsp;</p>
            <p>&nbsp;</p><h5 id='グループの作成参加'><span>グループの作成、参加</span></h5>
            <p><span>右上のメニューより「グループ一覧」リンクからグループ作成、グループへの参加ができます。</span></p>
            <p><span>参加済みのグループのページへは、マイページから遷移することができます。</span></p>
            <p><span>他のメンバーと予定の色が被った場合はマイページ「ユーザー設定」よりイメージカラーを変更することをお勧めします。</span></p>
            <p>&nbsp;</p>
            <h5 id='グループイベントの作成削除編集'><span>グループイベントの作成、削除、編集</span></h5>
            <p><span>グループページ下部のフォームから作成できます。</span></p>
            <p><span>手順は基本的に前述した予定の作成、削除、編集と同じです。</span></p>
            <p>&nbsp;</p>
            <h3 id='デモ'><span>デモ</span></h3>
            <p>端末によってデモが再生できない場合があります。</p>
            <div>
            <%=video_tag("demo.mp4", autoplay: :true, loop: :true, muted: :true, playsinline: :true)%>
            </div>
            <h2 id='注意点'><span>注意点</span></h2>
            <ul>
                <li><span>作者が練習目的で個人的に作成したサイトです。セキュリティ対策には注意を払っていますが、個人を特定できる内容の投稿や機密情報等の投稿はお控えください</span></li>
                <li><span>情報の流出等が発生しても責任は負いません。ご了承ください。</span></li>
                <li><span>クラッキング等はしないようにお願いします(´･ω･`)</span></li>
                <li><span>クロスサイト攻撃の対策として、セッションidとcsrfトークンでセッションを管理しています。セッションidはcookieに保存されますので、cookieを無効にしている場合に正しく動作しない場合があります。</span></li>
            </ul>
            <h2 id='本サイトのポイント'><span>本サイトのポイント</span></h2>
            <h4 id='セキュリティ攻撃対策'><span>セキュリティ、攻撃対策</span></h4>
            <ul>
                <li><span>SQLインジェクション対策として、データベースへのリクエスト文では全てハッシュとして渡しています。</span></li>
                <li><span>なりすまし対策として、ユーザーidなどの情報はサーバ側のみで処理し、ユーザーからの情報を許可しておりません。</span></li>
                <li><span>他人の予定や参加していないグループのカレンダーへのアクセスを禁止しています。</span></li>
            </ul>
            <h4 id='機能'><span>機能</span></h4>
            <ul>
                <li><span>ユーザーの予定のほか、グループ内共有イベントが設定できるようになりました。</span></li>
                <li><span>簡単に複数のグループで予定を管理することができます。</span></li>
                <li><span>ユーザーのイメージカラーが設定可能なため、グループ内で誰の予定なのかが一目でわかります。</span></li>
            </ul><p>&nbsp;</p>
        </div>
    </div>
</div>